<app-header [titulo]="titulo || 'Alert Page'"></app-header>
<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          para que cargue el back incluso si esta es la primera pagina que se carga con el defaultHref
            <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>alert</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content padding>

    <ion-button expand="full" (click)="presentAlert()" color="primary">Show Alert</ion-button>
    <ion-button expand="full" (click)="presentAlertConfirm()" color="secondary">Show Input</ion-button>
    <ion-button expand="full" (click)="presentAlertPrompt()" color="primary">Show Pront</ion-button>
    <ion-button expand="full" (click)="presentInput()" color="primary">Present Input enviar parametro</ion-button>

    <!--  <h1>Este es el alert-pages</h1>
 -->
</ion-content>