<app-header titulo="Action Sheet"></app-header>
<!-- <ion-header>
    <ion-toolbar>
        colocar el contenido antes del elemento anterior, en este caso lo pondria antes del toolbar
        <ion-buttons slot="start">
            para que cargue el back incluso si esta es la primera pagina que se carga con el defaultHref
            <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>action-sheet</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content padding>
    <h1>
        Pagina sheet
    </h1>

</ion-content>